:root {
    --PaleViolet: hsl(276, 100%, 81%);
    --ModerateViolet: hsl(276, 55%, 52%);
    --DesaturatedDarkViolet: hsl(271, 15%, 43%);
    --GrayishBlue: hsl(200, 4%, 90%);
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    --DarkGrayishViolet: hsl(270, 7%, 64%);
    --LightMagenta: hsl(293, 100%, 63%);
    --LightViolet: hsl(264, 100%, 61%);
    --lightgry: hsl(270, 20%, 96%);
    

}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
}
body {
    font-size: 16px;
    background-color: var(--GrayishBlue);
}
.backgroundleft {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(var(--LightMagenta), var(--LightViolet));
    width: 35.6em;
    height: 60em;
    margin-top: -20em;
    border-bottom-right-radius: 20em;
    border-bottom-left-radius: 20em;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    gap: 8em;
}
.left {
    width: 20em;
    height: 38em;
    background-color: white;
    padding: .8em;
    border-radius: 2.3em;
}
.leftcontainer {
    background-color: var(--GrayishBlue);
    border-radius: 1.5em;
    width: 100%;
    height: 100%;
    
}
.phonespeaker {
    height: 1.5em;
    width: 10em;
    background-color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-left: 3.8em;
}
.header {
    display: block;
    background-image: linear-gradient(to left, var(--LightMagenta), var(--LightViolet));
    height: 6em;
    width: 18.4em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
.arrow {
    margin-top: 2em;
    margin-left: 1em;
    width: 10px;
    height: 10px;
    border-top: 2.5px solid white;
    border-left: 2.5px solid white;
    transform-origin: center;
    transform: rotate(-45deg);

}
#img1 {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    margin-right: .5em;
    margin-top: .2em;
    border: white 1px solid;
}
.profile {
    display: flex;
    margin-left: 2em;
    margin-top: -1.5em;
}
.profile h2 {
    font-size: 14px;
    color: white;
    line-height: 1.5em;
}
.profile p {
    font-size: 12px;
    color: var(--DarkGrayishViolet);

}
.dotbox {
    display: flex;
    flex-direction: column;
    gap: .1em;
    margin-left: 6em;
    margin-top: .7em;

}
.dots {
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 1em;

}
.lefttextbox {
    width: 11em;
    height: 2.5em;
    margin-top: .5em;
    margin-left: .5em;
    padding: 1em;
    border-radius: 1em;
    background-color:  hsl(200, 4%, 81%);
}
.lefttext {
    font-size: 10px;
    color: var(--ModerateViolet);
    margin-top: -.7em;
}
.lefttextbox2 {
width: 11em;
height: 3.5em;
margin-top: 9.5em;
margin-left: .5em;
padding: 1em;
border-radius: 1em;
background-color:  hsl(200, 4%, 81%);
}
.picbox {
    display: flex;
    float: right;
    margin-right: 7.5em;
    width: 3em;
    height: 3em;
    gap: .5em;
    margin-top: .5em;
}
.dogpic {
    border-radius: 1em;
}
.pricebox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    height: 2.7em;
    width: 12.5em;
    background-image: linear-gradient(to right, var(--LightMagenta), var(--LightViolet));
    border-radius: 1em;
    margin-top: .8em;
    margin-left: .5em;
    
}
.circle {
    border-radius: 50%;
    width: 5em;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    opacity: .3;
    margin-right: .5em;
    
}
.priceboxtext p {
    padding: .2em;
    width: 8em;
    height: 2em;
    color: white;
    font-size: 10px;
    font-weight: 400;
    opacity: .5;
    margin-right: 3em;
    margin-top: .5em;
}
.priceboxtext h2 {
    color: white;
    font-size: 16px;
    
}
.textbar {
    height: 2.5em;
    width: 17.5em;
    border-radius: 2em;
    background-color: white;
    margin-top: 1.1em;
    margin-left: .5em;
}
.textbartext {
    color: black;
    font-size: 10px;
    float: left;
    padding: 1.7em;
    opacity: .5;
}
.blackcircle {
    float: right;
    height: 1.8em;
    width: 1.8em;
    background-color: black;
    border-radius: 3em;
    margin-right: .4em;
    margin-top: .3em;
}
.rightarrow {
    margin-top: .6em;
    margin-left: .5em;
    width: 10px;
    height: 10px;
    border-top: 2.5px solid white;
    border-left: 2.5px solid white;
    transform-origin: center;
    transform: rotate(135deg);
}
.righttextbox {
    float: right;
    margin-right: .5em;
    background-color: white;
    width: 10em;
    height: 2.5em;
    margin-top: .5em;
    margin-left: .5em;
    padding: 1em;
    border-radius: 1em;
}
.righttext {
    font-size: 10px;
    margin-top: -.6em;
    color: black;
}
.righttextbox2 {
    float: right;
    margin-right: .5em;
    background-color: white;
    width: 7.5em;
    height: 1.5em;
    margin-top: .5em;
    margin-left: .5em;
    padding: 1em;
    border-radius: 1em;
}
.right {
    width: 30em;
    height: 35em;
    background-color: var(--GrayishBlue);
}
.contentright {
    max-width: 28em;
    line-height: 1.7em;
    margin-top: 10em;
}
.contentright h1 {
    font-weight: 500;
    font-size: 42px;
}
.contentright p {
    font-weight: 400;
    color: var(--DarkGrayishViolet);
}
.backgroundright {
    background-color: var(--LightViolet);
    position: absolute;
    background-position: bottom right;
    border-top-left-radius: 28em;
    border-top-right-radius: 28em;
    width: 50em;
    height: 50em;
    opacity: .1;
    margin-left: 83em;
    margin-top: -40em;
}
@media (max-width: 1440px) {
    .contentright {
        text-align: center;
        margin-right: 5em;
        margin-top: 10em;
    }
    .backgroundleft {
        position: absolute;
        z-index: -1;
        background-image: linear-gradient(var(--LightMagenta), var(--LightViolet));
        width: 20.6em;
        height: 52em;
        margin-top: -20em;
        border-bottom-right-radius: 20em;
        border-bottom-left-radius: 20em;
    }
    }
@media (max-width: 1157px) {
.container {
    max-width: 18em;
    flex-direction: column;
    margin-inline: auto;
    
}   
.contentright {
    max-width: 24em;
    text-align: center;
    margin-right: 10em;
    margin-top: -1em;
}
.backgroundleft {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(var(--LightMagenta), var(--LightViolet));
    width: 20em;
    height: 52em;
    margin-top: -20em;
    border-bottom-right-radius: 20em;
    border-bottom-left-radius: .1em;
}
}
@media (max-width: 375px) {
.container {
    max-width: 18em;
    flex-direction: column;
    
    
}   
.contentright {
    max-width: 24em;
    text-align: center;
    margin-right: 10em;
    margin-top: -1em;
}
.backgroundleft {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(var(--LightMagenta), var(--LightViolet));
    width: 15em;
    height: 52em;
    margin-top: -20em;
    border-bottom-right-radius: 20em;
    border-bottom-left-radius: .1em;
}
}